<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androiddemo.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <!-- 添加对SDCARD的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- 不显示应用程序标题栏 -->
        <activity
            android:name="com.androiddemo.activity.StartActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.androiddemo.activity.MainActivity" >
        </activity>
        <activity android:name="com.androiddemo.activity.layout.LayoutDemo" >
        </activity>
        <activity android:name="com.androiddemo.activity.layout.LinearLayoutDemo" >
        </activity>
        <activity android:name="com.androiddemo.activity.layout.RelativeLayoutDemo" >
        </activity>
        <activity android:name="com.androiddemo.activity.layout.TableLayoutDemo" >
        </activity>
        <activity android:name="com.androiddemo.activity.layout.FrameLayoutDemo" >
        </activity>
        <activity android:name="com.androiddemo.component.SpinnerDemo" >
        </activity>
        <activity android:name="com.androiddemo.component.Tab_Demo" >
        </activity>
        <activity android:name="com.androiddemo.component.DatePicker_And_TimePicker_Demo" >
        </activity>
        <activity android:name="com.androiddemo.listview.AdapterAndListView" >
        </activity>
        <activity android:name="com.androiddemo.listview.ArrayAdapterDemo" >
        </activity>
        <activity android:name="com.androiddemo.listview.SimpleAdapteDemo" >
        </activity>
        <activity android:name="com.androiddemo.sdcard.SDCardActivity" >
        </activity>
        <activity android:name="com.androiddemo.servicedemo.ServiceActivity" >
        </activity>

        <!-- 注册Service -->
        <service android:name="com.androiddemo.servicedemo.FirstService" />
        <service android:name="com.androiddemo.servicedemo.SecondService" >
            <intent-filter>

                <!-- 为该Service组件的intent-filter配置action -->
                <action android:name="com.androirdemo.secondservice" />
            </intent-filter>
        </service>
        <service android:name="com.androiddemo.servicedemo.ThirdService" >
        </service>

        <activity android:name="com.androiddemo.servicedemo.PlayMusicActivity" >
        </activity>

        <service android:name="com.androiddemo.servicedemo.MusicService" >
            <intent-filter>
                <action android:name="com.androiddemo.musicservice" />
            </intent-filter>
        </service>

        <!-- SharedPreferences -->
        <activity android:name="com.androiddemo.data_storage.sharedPreferences_demo.SharedPreferencesActivity" >
        </activity>
        <activity android:name="com.androiddemo.data_storage.sharedPreferences_demo.GetSharedPreferencesFromAnotherProject" >
        </activity>

        <!-- Application -->
        <activity android:name="com.androiddemo.application.ApplicationActivity" >
        </activity>
        <activity android:name="com.androiddemo.application.Weather_Get_Demo" >
        </activity>
        <activity android:name="com.androiddemo.application.Weather_Post_Demo" >
        </activity>

        <!-- Intent Serializbale  Parcelable -->
        <activity android:name="com.androiddemo.intent.IntentActivity" >
        </activity>
        <activity android:name="com.androiddemo.intent.SerializableActivity" >
        </activity>
        <activity android:name="com.androiddemo.intent.ParcelableActivity" >
        </activity>
    </application>

</manifest>